/* opinionated, sensible CSS */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  line-height: calc(1em + 0.2rem);
  color: var(--text-primary);
  background-color: var(--background-primary);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* variables */
/* colors */
@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
    --text-link: #0069c2;
    --text-invert: #fff;
    --background-primary: #fff;
    --background-secondary: #f9f9fb;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
    --text-link: #8cb4ff;
    --text-invert: #1b1b1b;
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
  }
}

/* other stuff (yo)
:root {
  /* :root should not contain variable colors;
    have a look at MDN source code for reference. */
}

body {
  width: 100%;
}

a {
  color: var(--text-link);
}

.grid-wrapper {
  display: grid;
  grid-template-areas:
    "main-menu main-menu main-menu"
    ". main ."
    ". footer .";
  grid-template-columns: 1fr 2fr 1fr;
}

.main-menu {
  grid-area: main-menu;
  border: 3px solid blue;
}

.main {
  grid-area: main;
  padding: 10px;
  border: 3px solid yellow;
}

.page-footer {
  grid-area: footer;
  margin-top: 10px;
  border-top: 1px solid green;
}