/* opinionated, sensible CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.2rem);
  color: var(--text-primary);
  background-color: var(--background-primary);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* variables */
/* colors */
@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
    --background-primary: #fff;
    --background-secondary: #f9f9fb;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  display: grid;
  grid-template-areas:
    "main-menu"
    "main"
    "footer";
  grid-gap: 16px;
}

.main-menu {
  display: grid;
  grid-area: main-menu;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

  border: 3px solid blue;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .main-menu {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.main-menu__items {
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}

.main-menu__item {
  display: grid;
}

.main {
  grid-area: main;
  padding: 10px;
  border: 3px solid yellow;
}

.footer {
  grid-area: footer;
  margin-top: 10px;
  border-top: 1px solid green;
}